<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Login</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">

      <div class="bs-component">
        <form action="/auth/login" method="post" id="form-login">
          <fieldset>
            <div class="form-group">
              <label for="InputUserName">User Name</label>
              <input type="username" name="username" class="form-control"
                     id="InputUserName" placeholder="Your user name">
            </div>
            <div class="form-group">
              <label for="InputPassword">Password</label>
              <input type="password" name="password" class="form-control"
                     id="InputPassword" placeholder="Your password">
            </div>
          </fieldset>
        </form>
      </div>

      <div class="bs-component">
        <button type="submit" class="btn btn-secondary"
                form="form-login" id="button-login"> LOGIN </button>
      </div>
      <div class='bs-component'>
        <a href="/account/register" class='btn btn-primary btn-lg'>Register</a>
      </div>
    </div>
    <div class="col">
        <a href="<%= gh_oauth_url %>" class="btn btn-primary btn-lg">
          <span class='fa fa-github'> Github Sign-in </span>
        </a>
    </div>
  </div>
</div>
