
    <p>Your Username: <%= account.username %></p>
    <p>Your Email: <%= account.email %></p>
    <input type="hidden" name='username' value= <%= account.username %> >
    <input type="hidden" name='email' value= <%= account.email %> >
    <input type='password' name="password" class="form-control" id="Password"
                aria-describedby="passwordHelp" placeholder="Enter Password">
    <small id="passwordHelp" class="form-text text-muted">
        Be carefull when typing.
    </small>

    <label for="Confirmed pwd">Confirmed Password</label>
    <input type="password" name="confirmed_pwd" id="confirmed_pwd" class='form-control'
            placeholder='Confirmed Password' aria-describedby='passwordHelp'>
    <small class='form-text text-muted'> Please confirmed password </small> 