<footer id="footer" style="padding-left: 5%">
  <div class="row" style="padding: 2%">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li class="float-lg-left" href="http://iss.nthu.edu.tw">ISS</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        Made by
        <a href="https://github.com/orgs/PigAndChicken/people">MIT</a>
        .
      </p>
      <p>
        TalkUp is made for demostration purposes.
      </p>
    </div>
  </div>
</footer>
