<!-- <div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Register</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
        <form>
          <fieldset>
            <div class="form-group">

              <label for="exampleInputUserName">User Name</label>
              <input name="username" class="form-control" id="exampleInputUserName"
                     aria-describedby="userNameHelp" placeholder="Enter User Name">
              <small id="userNameHelp" class="form-text text-muted">
                User name will be used for login.
              </small>

              <label for="exampleInputEmail">Email</label>
              <input name="email" class="form-control" id="exampleInputEmail"
                     aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">
                Your email address will not show on your public profile page.
              </small>

              <label for="exampleInputPassword">Password</label>
              <input name="password" class="form-control" id="exampleInputPassword"
                     aria-describedby="passwordHelp" placeholder="Enter Password">
              <small id="passwordHelp" class="form-text text-muted">
                Be carefull when typing.
              </small>

            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div> -->
